#client-settings form .form-group > label {
  flex: 3;
}

#client-settings .tab[data-tab='modules'] .module-header::before {
  content: '⊟';
  cursor: pointer;
  padding-right: 4px;
}

#client-settings .tab[data-tab='modules'] .module-header.illandril-settings--collapse::before {
  content: '⊞';
}

.illandril-settings--hidden {
  display: none !important;
}

#client-settings .tab[data-tab='modules'] .module-header:not(:first-child) {
  margin-top: 0.5em;
}

#client-settings .tab[data-tab='modules'] .form-group:not(:last-child) {
  margin-bottom: 0.5em;
}
